h3.arena-chan-title.private {
  color: red;
}

h3.arena-chan-title.public {
  color: #00FF00;
}

.arena-logo {
  display: inline;
  width: auto;
  height: 1rem;
}

.arena-logo .prim {
  fill: var(--ls-primary-text-color);
}

.private .arena-logo .prim {
  fill: red;
}

.public .arena-logo .prim {
  fill: #00FF00;
}

.arena-plugin-wrapper {
  background-color: var(--ls-quaternary-background-color);
  border-radius: 5px;
  padding: 10px;
  white-space: normal;
}

.arena-block {
  display: inline-block;
  width: 8rem;
  font-size: 0.7em;
  line-height: 100%;
  margin: 0 10px 10px 0;
  overflow: hidden;
}
  
.arena-block-content {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 8rem;
  vertical-align: middle;
  border: 1px solid #FFFFFF55;
  overflow: hidden;
}

.arena-block-title {
  margin-top: 5px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.arena-block-grid {
  display: flex;
  max-width: 50em;
  flex-wrap: wrap;
}